.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    text-align: center;
    margin-bottom: 5rem;
  }
}

/* TODO: RETURN THESE STYLES TO SUBFORMS */

/* h1 {
    margin-block: 1rem;
  }
  
  .loginForm {
    & > div {
      margin-block: 1rem;
    }
  }
   */
