@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

  body {
    --clr-body: #f5f2eb;
    --clr-accent: hsl(225, 41%, 35.9%);
    --clr-gray400: #dfdcd6;
    --clr-gray800: #666;

    --radius-sm: 3px;
    --radius-md: 5px;
    --radius-lg: 10px;

    font-family: "Roboto", sans-serif;
    background-color: var(--clr-body);
  }
}

@layer utils {
  .button {
    display: block;
    width: fit-content;
    margin-inline: auto;
    padding: 0.5rem 4rem;
    background-color: var(--clr-accent);
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    border-radius: 3px;
    transition: padding ease-in-out 0.1s;
    border: 0;

    &:hover {
      padding-inline: 5rem;
    }
  }

  .shortDescription {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
