.readingPane {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: 100%;
  box-sizing: border-box;
  scroll-snap-align: start;

  overflow-y: scroll;

  @media (width > 700px) {
    width: 50%;
    min-width: 50%;
  }

  code {
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
  }

  .wrapper {
    padding: 2rem;
    max-width: 700px;
    margin-inline: auto;

    .articleMeta {
      h2 {
        font-size: 1rem;
        font-weight: normal;
        color: var(--clr-gray800);
      }
    }

    .articleContent {
      h2 {
        margin-block: 1rem 0.5rem;
      }

      p {
        margin-block: 1rem;
      }
    }
  }
}
